@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./page.scss";

html,
body,
main {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}

body {
  background-color: rgb(0, 0, 0);
}

.live-view-wrapper {
  height: 100%;
}

.flex-col-centered {
  @apply flex flex-col justify-center items-center;
}
